* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    padding: 16px;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 18px;
    text-wrap: nowrap;
    
}
li {
    margin: 0;
    padding: 0;
    align-items: center;
}
.nav-links {
    font-size: 18px;
    color: #f9faf8;
    gap: 16px;
    text-decoration: none;
    padding: 18px;
    margin: 10px;

}
.nav-links:hover {
    color: #f9faf8;
    background-color: #4b5563;
    border-radius: 5px;
}
 @media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}
.hero {
    background: #1f2937;
    display: flex;
    justify-content: flex-start;   
    padding: 80px 0;
    flex-wrap: wrap;
    background-image: url(../img/herocat.jpg);
    background-size: cover;
    background-position: 70% center;
    min-height: 400px;
}
@media (max-width: 768px) {
    .hero {
        padding: 40px 0;
        min-height: 300px; 
    }
}
.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px 20px 20px 40px;
    gap: 10px;
}
.hero-h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.hero-p {
    color: #e5e7eb;
    font-size: 18px;
}
.hero-btn {
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.hero-btn:hover {
    background-color: #2563eb;
}
/* .space {
    display: flex;
    width: 100%;
    height: 200px;
} */
.hero-img {
    max-width: 400px;
    margin-left: 20px;
    height: auto;
}
.hero-img-div {
    max-width: 400px;
    height: auto;
}
.service-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    max-width: 300px;
    
}
.service-header {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 40px 0;
}
.service-img {
    max-width: 200px;
    height: auto;
    margin: 20px;
    border:#2563eb 3px solid;
    border-radius: 10px;
}
.service-desc {
    text-align: center;
    color: #1f2937;
    font-size: 16px;
    margin: 20px;
}
.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    margin: 0 auto;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    text-align: left;
    max-width: 800px;
    margin: 100px 40px 0 40px;
}
.quote-author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin: 10px 0 0 40px;
    padding-left: 60px;
}
.cta-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 40px auto;
    background-color: #3882f6;
    padding: 40px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.cta-text {
    max-width: 300px;
}
.cta-p, .cta-bold {
    color: #f9faf8;
    font-size: 16px;
}
.cta-bold {
    font-weight: bold;
    font-size: 24px;
}
.cta-btn {
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 175px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #f9faf8;
    padding: 2px 10px;
    white-space: nowrap;
}
.cta-btn:hover {
    background-color: #2563eb;
}
footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    color:#e5e7eb;
    font-size: 18px;
}